language: python

#cache:
#  directories:
#  - ~/.cache/pip
#  - ~/.pyenv
#
#before_cache:
#  - rm -f $HOME/.cache/pip/log/debug.log

matrix:
    include:
        - os: linux
          python: 2.7
          env: TOXENV=py27
#        - os: linux
#          python: 3.2
#          env: TOXENV=py32 VENVVER="<14.0.0" PIPVER="<8.0.0"
#        - os: linux
#          python: 3.3
#          env: TOXENV=py33
        - os: linux
          python: 3.4
          env: TOXENV=py34
        - os: linux
          python: 3.5
          env: TOXENV=py35
#        - os: linux
#          python: nightly
#          env: TOXENV=py36
#        - os: linux
#          python: 3.4
#          env: TOXENV=docs
#        - os: linux
#          python: 2.7
#          env: TOXENV=pep8
#        - os: linux
#          python: 3.4
#          env: TOXENV=pep8
        - os: linux
          python: 3.4
          env:
            - TOXENV=packaging
            - PYPIUSER=grzanka
            #  pypi secured password (PYPIPASS variable), you need to update it to your own if you want to use it
            - secure: "WLg9eOFwGwH2riVdcl2mdUjzBIx4NaamMmB6XNOtAl91cPK/LtchLaMVMjVlPKMchQ/cCVpVgjiqRgEUPLz40sfv+DqmcnZH7UXE4kpUuUtFECTpIqc69Ohzn82JdrKQIaH0FWPTjRvxZgV+b6KWo8TK71VFANPpQTuhfaRJ+laKj1S5ikwg4c1zj6kqYefGHhvdvs5LtBXEZ9UQg+dkuWK8mrnl/gpZUuR7P8o+wofv2X510kHrV8WkUDfk9JmfpRyTmpvJcawl5CpGeov7c6wz5+nKNg+Fki5qft2TEb6DsHCMOBI6UviMvROSPgNs/C4tI5zNtabs+61uwU2vHsEiOuHGbmMcfGaOyjumQPcyBz3bvQ+e7ZA1ZyYipw4ihU9M7sPZtmwSlxE2ECXXy/MjPyVharTiy3rGAYwT4rH+F8fubsYeYtFax4IUFQfq3DXS9YUCJ82bCRnDlzLZ5MLy/4WL+sL7nMLR9ApkN97MWkv+aqmYjvKG0N519HSVJwuptWkoCok8E7e3zi5nOiG5eJ/0f4TVlEyOPrxeCtWCOPATXb54vSz7GPvMgTx4CKFmNbe5sLhx1A8cuOikA1Keyii8VKda8LVr7gXDh8BvgcL/CIAF/pALf2cDL224Gy8Mlz32PqBJMSKuopeIRKnj2eN3GBL1t9GuiXb8oRg="
#        - os: osx
#          language: generic
#          env: TOXENV=py35
#        - os: osx
#          language: generic
#          env: TOXENV=py34
#        - os: osx
#          language: generic
#          env: TOXENV=py33
#        - os: osx
#          language: generic
#          env: TOXENV=py32 VENVVER="<14.0.0" PIPVER="<8.0.0"
#        - os: osx
#          language: generic
#          env: TOXENV=py27
#    uncomment and adjust if you want to allow some failures
#    allow_failures:
#        - os: osx
#          language: generic
#          env: TOXENV=py33
#        - os: osx
#          language: generic
#          env: TOXENV=py34
#        - os: osx
#          language: generic
#          env: TOXENV=py35
#        - os: linux
#          python: 3.4
#          env: TOXENV=docs
#        - os: linux
#          python: 3.4
#          env:
#            - TOXENV=packaging
#            - PYPIUSER=grzanka
#            #  pypi secured password (PYPIPASS variable), you need to update it to your own if you want to use it
#            - secure: "WLg9eOFwGwH2riVdcl2mdUjzBIx4NaamMmB6XNOtAl91cPK/LtchLaMVMjVlPKMchQ/cCVpVgjiqRgEUPLz40sfv+DqmcnZH7UXE4kpUuUtFECTpIqc69Ohzn82JdrKQIaH0FWPTjRvxZgV+b6KWo8TK71VFANPpQTuhfaRJ+laKj1S5ikwg4c1zj6kqYefGHhvdvs5LtBXEZ9UQg+dkuWK8mrnl/gpZUuR7P8o+wofv2X510kHrV8WkUDfk9JmfpRyTmpvJcawl5CpGeov7c6wz5+nKNg+Fki5qft2TEb6DsHCMOBI6UviMvROSPgNs/C4tI5zNtabs+61uwU2vHsEiOuHGbmMcfGaOyjumQPcyBz3bvQ+e7ZA1ZyYipw4ihU9M7sPZtmwSlxE2ECXXy/MjPyVharTiy3rGAYwT4rH+F8fubsYeYtFax4IUFQfq3DXS9YUCJ82bCRnDlzLZ5MLy/4WL+sL7nMLR9ApkN97MWkv+aqmYjvKG0N519HSVJwuptWkoCok8E7e3zi5nOiG5eJ/0f4TVlEyOPrxeCtWCOPATXb54vSz7GPvMgTx4CKFmNbe5sLhx1A8cuOikA1Keyii8VKda8LVr7gXDh8BvgcL/CIAF/pALf2cDL224Gy8Mlz32PqBJMSKuopeIRKnj2eN3GBL1t9GuiXb8oRg="

# travis-ci runs by default on ancient Ubuntu 12.04 (precise)
# following options will give us Ubuntu 14.04 (trusty)
sudo: required
dist: trusty

before_install:
  - PYTHON_VERSION="py3"
  - if [[ $TOXENV == "py27" ]]; then PYTHON_VERSION="py2" ; fi
  - sudo bash ./install_deps.sh $PYTHON_VERSION
  - if [[ $TOXENV == "packaging" ]]; then pip install numpy ; fi


install:
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then travis_wait bash ./.travis/install_linux.sh ; fi
  - if [[ $TRAVIS_OS_NAME == "osx" ]]; then travis_wait 60 bash ./.travis/install_osx.sh ; fi

# if scipy is used, then installation from pip last longer than 10min, thus we add travis_wait
script:
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then travis_wait tox --notest && tox -- -n 1 ; fi
  - if [[ $TRAVIS_OS_NAME == "osx" ]]; then travis_wait bash ./.travis/run_osx.sh ; fi
# in case all previous commands in script section succeeded, run deploy (if tag is present)
  - if [[ "$TRAVIS_TEST_RESULT" == "0" ]] && [[ $TRAVIS_TAG != "" ]] && [[ $TOXENV == "packaging" ]]; then bash .travis/deploy_package.sh pypi ; fi

notifications:
  email:
    - leszek.grzanka@gmail.com
