# before committing check this file here: https://lint.travis-ci.org/

language: python

services:
  - docker

env:
  global:
    - PYPIUSER=grzanka
    #  pypi secured password (PYPIPASS variable), you need to update it to your own if you want to use it
    - secure: "WLg9eOFwGwH2riVdcl2mdUjzBIx4NaamMmB6XNOtAl91cPK/LtchLaMVMjVlPKMchQ/cCVpVgjiqRgEUPLz40sfv+DqmcnZH7UXE4kpUuUtFECTpIqc69Ohzn82JdrKQIaH0FWPTjRvxZgV+b6KWo8TK71VFANPpQTuhfaRJ+laKj1S5ikwg4c1zj6kqYefGHhvdvs5LtBXEZ9UQg+dkuWK8mrnl/gpZUuR7P8o+wofv2X510kHrV8WkUDfk9JmfpRyTmpvJcawl5CpGeov7c6wz5+nKNg+Fki5qft2TEb6DsHCMOBI6UviMvROSPgNs/C4tI5zNtabs+61uwU2vHsEiOuHGbmMcfGaOyjumQPcyBz3bvQ+e7ZA1ZyYipw4ihU9M7sPZtmwSlxE2ECXXy/MjPyVharTiy3rGAYwT4rH+F8fubsYeYtFax4IUFQfq3DXS9YUCJ82bCRnDlzLZ5MLy/4WL+sL7nMLR9ApkN97MWkv+aqmYjvKG0N519HSVJwuptWkoCok8E7e3zi5nOiG5eJ/0f4TVlEyOPrxeCtWCOPATXb54vSz7GPvMgTx4CKFmNbe5sLhx1A8cuOikA1Keyii8VKda8LVr7gXDh8BvgcL/CIAF/pALf2cDL224Gy8Mlz32PqBJMSKuopeIRKnj2eN3GBL1t9GuiXb8oRg="
matrix:
    include:
    # Linux tests for various python versions
        - os: linux
          python: 2.7
          env: TOXENV=py27
# it doesn't make sense to run normal tests for py35, as coverage will run them and upload
# coverage includes also testing documentation generation with sphinx
        - os: linux
          python: 3.5
          env: TOXENV=coverage
        - os: linux
          python: 3.4
          env: TOXENV=py34
        - os: linux
          python: 3.6
          env: TOXENV=py36
        - os: linux
          python: nightly
          env: TOXENV=py37
    # MacOSX tests for various python versions
# dropping MacOSX support for Windows, to get faster builds https://github.com/pytrip/pytrip/issues/267
#        - os: osx
#          language: generic
#          env: TOXENV=py35
# TODO before uncommenting fix https://github.com/pytrip/pytrip/issues/109
#        - os: osx
#          language: generic
#          env: TOXENV=py34
#        - os: osx
#          language: generic
#          env: TOXENV=py27
    # fired only when making release (on tags): manylinux1 pep packages (32 and 64 bits)
    # suffix mu -> Unicode format UCS-2 (2 bytes) used only in Python 2.7
    # suffix m -> Unicode format UCS-4 (4 bytes) used only in all python versions
    # documentation checks and PEP8 code quality checks included in packaging
        - python: 3.5
          env: TOXENV=packaging PRECMD=linux32 TARGET="cp27-cp27m cp27-cp27mu"
        - python: 3.5
          env: TOXENV=packaging PRECMD=linux32 TARGET="cp34-cp34m cp35-cp35m cp36-cp36m"
        - python: 3.5
          env: TOXENV=packaging TARGET="cp27-cp27m cp27-cp27mu cp34-cp34m cp35-cp35m cp36-cp36m"
        - python: 3.5
          env: TOXENV=packaging TARGET=source
# fired only when making release (on tags): MacOSX wheel packages
# dropping MacOSX support for Windows, to get faster builds https://github.com/pytrip/pytrip/issues/267
#        - os: osx
#          language: generic
#          env: TOXENV=packaging
    # jobs allowed to fail
    allow_failures:
    # TODO before uncommenting fix https://github.com/pytrip/pytrip/issues/119
        - python: nightly
          env: TOXENV=py37

# travis-ci runs by default on ancient Ubuntu 12.04 (precise)
# following options will give us Ubuntu 14.04 (trusty)
sudo: required
dist: trusty

# install dependencies (i.e. python-pip package)
before_install:
  - PYTHON_VERSION="py3"
  - if [[ $TOXENV == "py27" ]]; then PYTHON_VERSION="py2" ; fi
  - sudo ./install_deps.sh $PYTHON_VERSION

# install packages from requirement.txt and other stuff
install:
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then travis_wait ./.travis/install_linux.sh ; fi
# dropping MacOSX support for Windows, to get faster builds https://github.com/pytrip/pytrip/issues/267
#  - if [[ $TRAVIS_OS_NAME == "osx" ]]; then travis_wait ./.travis/install_osx.sh ; fi

# finally run tox tests
script:
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then travis_wait tox --recreate --notest && tox ; fi
# dropping MacOSX support for Windows, to get faster builds https://github.com/pytrip/pytrip/issues/267
#  - if [[ $TRAVIS_OS_NAME == "osx" ]]; then travis_wait ./.travis/run_osx.sh ; fi
# in case all previous commands in script section succeeded, run deploy (if tag is present then upload)
  - if [[ "$TRAVIS_TEST_RESULT" == "0" ]] && [[ $TOXENV == "packaging" ]]; then .travis/deploy_package.sh "$TARGET" $PRECMD; fi

