# before commiting check this file here: https://lint.travis-ci.org/

language: python

cache:
  directories:
  - ~/.cache/pip
  - ~/.pyenv

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

services:
  - docker

env:
  global:
    - PYPIUSER=grzanka
    #  pypi secured password (PYPIPASS variable), you need to update it to your own if you want to use it
    - secure: "WLg9eOFwGwH2riVdcl2mdUjzBIx4NaamMmB6XNOtAl91cPK/LtchLaMVMjVlPKMchQ/cCVpVgjiqRgEUPLz40sfv+DqmcnZH7UXE4kpUuUtFECTpIqc69Ohzn82JdrKQIaH0FWPTjRvxZgV+b6KWo8TK71VFANPpQTuhfaRJ+laKj1S5ikwg4c1zj6kqYefGHhvdvs5LtBXEZ9UQg+dkuWK8mrnl/gpZUuR7P8o+wofv2X510kHrV8WkUDfk9JmfpRyTmpvJcawl5CpGeov7c6wz5+nKNg+Fki5qft2TEb6DsHCMOBI6UviMvROSPgNs/C4tI5zNtabs+61uwU2vHsEiOuHGbmMcfGaOyjumQPcyBz3bvQ+e7ZA1ZyYipw4ihU9M7sPZtmwSlxE2ECXXy/MjPyVharTiy3rGAYwT4rH+F8fubsYeYtFax4IUFQfq3DXS9YUCJ82bCRnDlzLZ5MLy/4WL+sL7nMLR9ApkN97MWkv+aqmYjvKG0N519HSVJwuptWkoCok8E7e3zi5nOiG5eJ/0f4TVlEyOPrxeCtWCOPATXb54vSz7GPvMgTx4CKFmNbe5sLhx1A8cuOikA1Keyii8VKda8LVr7gXDh8BvgcL/CIAF/pALf2cDL224Gy8Mlz32PqBJMSKuopeIRKnj2eN3GBL1t9GuiXb8oRg="
matrix:
    include:
    # Linux tests for various python versions
        - os: linux
          python: 2.7
          env: TOXENV=py27
        - os: linux
          python: 3.5
          env: TOXENV=coverage
        - os: linux
          python: 3.2
          env: TOXENV=py32 VENVVER="<14.0.0" PIPVER="<8.0.0"
#        - os: linux
#          python: 3.3
#          env: TOXENV=py33
#        - os: linux
#          python: 3.4
#          env: TOXENV=py34
#        - os: linux
#          python: 3.5
#          env: TOXENV=py35
#        - os: linux
#          python: nightly
#          env: TOXENV=py36
#    # MacOSX tests for various python versions
#        - os: osx
#          language: generic
#          env: TOXENV=py35
#        - os: osx
#          language: generic
#          env: TOXENV=py34
#        - os: osx
#          language: generic
#          env: TOXENV=py33
#        - os: osx
#          language: generic
#          env: TOXENV=py32 VENVVER="<14.0.0" PIPVER="<8.0.0"
#        - os: osx
#          language: generic
#          env: TOXENV=py27
#    # documentation checks
#        - os: linux
#          python: 3.4
#          env: TOXENV=docs
#    # PEP8 code quality checks (py2 and py3)
#        - os: linux
#          python: 2.7
#          env: TOXENV=pep8
#        - os: linux
#          python: 3.4
#          env: TOXENV=pep8
#    # fired only when making release (on tags): manylinux1 pep packages (32 and 64 bits)
#    # suffix mu -> Unicode format UCS-2 (2 bytes) used only in Python 2.7
#    # suffix m -> Unicode format UCS-4 (4 bytes) used only in all python versions
#    # python 3.3 is handled separately as at the time no matplotlib package is provided for py3.3
#    #   and matplotlib has to be compiled from sources which takes a lot of time
#        - python: 3.5
#          env: TOXENV=packaging PRECMD=linux32 TARGET="cp27-cp27m cp27-cp27mu cp34-cp34m cp35-cp35m"
#        - python: 3.5
#          env: TOXENV=packaging PRECMD=linux32 TARGET=cp33-cp33m
#        - python: 3.5
#          env: TOXENV=packaging TARGET="cp27-cp27m cp27-cp27mu cp34-cp34m cp35-cp35m"
#        - python: 3.5
#          env: TOXENV=packaging TARGET=cp33-cp33m
#        - python: 3.5
#          env: TOXENV=packaging TARGET=source
#    # fired only when making release (on tags): MacOSX wheel packages
#        - os: osx
#          language: generic
#          env: TOXENV=packaging
    # jobs allowed to fail
    allow_failures:
        - os: osx
          env: TOXENV=py35
        - python: 3.5
          env: TOXENV=packaging PRECMD=linux32 TARGET=cp33-cp33m
        - python: 3.5
          env: TOXENV=packaging TARGET=cp33-cp33m

# travis-ci runs by default on ancient Ubuntu 12.04 (precise)
# following options will give us Ubuntu 14.04 (trusty)
sudo: required
dist: trusty

# install dependencies (i.e. python-pip package)
before_install:
  - PYTHON_VERSION="py3"
  - if [[ $TOXENV == "py27" ]]; then PYTHON_VERSION="py2" ; fi
  - sudo bash ./install_deps.sh $PYTHON_VERSION

# install freetype, lapack etc and finally packages from requirement.txt
install:
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then travis_wait bash ./.travis/install_linux.sh ; fi
  - if [[ $TRAVIS_OS_NAME == "osx" ]]; then travis_wait bash ./.travis/install_osx.sh ; fi

# finally run tox tests
script:
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then travis_wait tox --notest && tox -- -n 8 ; fi
  - if [[ $TRAVIS_OS_NAME == "osx" ]]; then travis_wait bash ./.travis/run_osx.sh ; fi
# in case all previous commands in script section succeeded, run deploy (if tag is present then upload)
  - if [[ "$TRAVIS_TEST_RESULT" == "0" ]] && [[ $TOXENV == "packaging" ]]; then bash .travis/deploy_package.sh pypi "$TARGET" $PRECMD; fi

