  recursive-include pytrip *.py
  recursive-include examples *.py
  exclude *.sh *.yml *.ini *.txt .gitkeep *.so .coveragerc *LICENSE
  exclude pytrip/lib/unused.c
  prune appveyor
  prune docs
  prune .travis
  prune tests
