numpy
pydicom
# matplotlib v 2.0, doesn't work well with Python 3.2 and 3.3
matplotlib<=1.5.1 ; (python_version >= '3.2' and python_version < '3.4') or os_name == 'nt' # py 3.2 and 3.3 and Windows
matplotlib ; (python_version < '3.0' or python_version >= '3.4') and os_name != 'nt' # py 2.7 , 3.4 and higher and not Windows
scipy